							<div class="m-portlet">
								<div class="m-portlet__body m-portlet__body--no-padding">
									<div class="row m-row--no-padding m-row--col-separator-xl">
										<div class="col-xl-4">
											<div class="ribbon" style="margin-top: 5px; margin-right: 4px; "><span>MEET</span></div>
											<div class="m-portlet__body">
												<div class="m-widget19">
													<div class="m-widget19__content">
														<div class="m-widget19__header">
															<div class="m-widget19__user-img">
																<img class="m-widget19__img" src="../assets/app/media/img/users/user1.jpg" alt="">
															</div>
															<div class="m-widget19__info">
																<span class="m-widget19__username">
																	Claudia Carretero
																</span>
																<br>
																<span class="m-widget19__time">
																	Business Development
																</span>
															</div>
														</div>
														<div class="m-widget19__body" style="color: #212529">
															Next January 19 we will have the meeting at 1:00 pm, where I will announce the new business development plan for 2018.<br/ ><br/ >
															I'm waiting for you in the meet room. Thanks.
														</div>
													</div>
<!--
													<div class="m-widget19__action">
														<button type="button" class="btn m-btn--pill btn-secondary m-btn m-btn--hover-brand m-btn--custom">
															Read More
														</button>
													</div>
-->
												</div>
											</div>
										</div>
										<div class="col-xl-4">
											<!--begin:: Widgets/Profit Share-->
											<div class="m-widget14">
												<div class="m-widget14__header">
													<h3 class="m-widget14__title">
														My projects
													</h3>
												</div>
												<div class="row align-items-center">
													<div class="col">
														<div id="m_chart_profit_share" class="m-widget14__chart" style="height: 160px">
															<div class="m-widget14__stat">
																45
															</div>
														</div>
													</div>
													<div class="col">
														<div class="m-widget14__legends">
															<div class="m-widget14__legend">
																<span class="m-widget14__legend-bullet m--bg-danger"></span>
																<span class="m-widget14__legend-text">
																	0% Canceled
																</span>
															</div>
															<div class="m-widget14__legend">
																<span class="m-widget14__legend-bullet m--bg-warning"></span>
																<span class="m-widget14__legend-text">
																	7% Consult
																</span>
															</div>
															<div class="m-widget14__legend">
																<span class="m-widget14__legend-bullet m--bg-brand"></span>
																<span class="m-widget14__legend-text">
																	23% Finished
																</span>
															</div>
															<div class="m-widget14__legend">
																<span class="m-widget14__legend-bullet m--bg-accent"></span>
																<span class="m-widget14__legend-text">
																	18% Prospection
																</span>
															</div>
															<div class="m-widget14__legend">
																<span class="m-widget14__legend-bullet m--bg-metal"></span>
																<span class="m-widget14__legend-text" style="font-weight: bold; color: FFF">
																	52% Running
																</span>
															</div>
														</div>
													</div>
												</div>
											</div>
											<!--end:: Widgets/Profit Share-->
										</div>
										<div class="col-xl-4">
											<!--begin:: Widgets/Support Stats-->
											<div class="m-widget1">
												<div class="m-widget1__item">
													<div class="row m-row--no-padding align-items-center">
														<div class="col">
															<h3 class="m-widget1__title m--font-danger">
																Delayed
															</h3>
															<span class="m-widget1__desc">
																<a href="#">Tasks</a> &nbsp; <span class="m-badge m-badge--danger">2</span> &nbsp;
																<a href="#">Process</a> &nbsp; <span class="m-badge m-badge--danger">3</span>
															</span>
														</div>
														<div class="col m--align-right">
															<span class="m-widget1__number m--font-danger " style="font-size: 2em">
																5
															</span>
														</div>
													</div>
												</div>
												<div class="m-widget1__item">
													<div class="row m-row--no-padding align-items-center">
														<div class="col">
															<h3 class="m-widget1__title m--font-warning">
																Warning
															</h3>
															<span class="m-widget1__desc">
																<a href="#">Tasks</a> &nbsp; <span class="m-badge m-badge--warning">`7</span> &nbsp;
																<a href="#">Process</a> &nbsp; <span class="m-badge m-badge--warning">3</span>
															</span>
														</div>
														<div class="col m--align-right">
															<span class="m-widget1__number m--font-warning" style="font-size: 2em">
																10
															</span>
														</div>
													</div>
												</div>
												<div class="m-widget1__item">
													<div class="row m-row--no-padding align-items-center">
														<div class="col">
															<h3 class="m-widget1__title m--font-success">
																On time
															</h3>
															<span class="m-widget1__desc">
																Keep Calm and Carry On
															</span>
														</div>
														<div class="col m--align-right">
															<span class="m-widget1__number m--font-success" style="font-size: 2em">
																25
															</span>
														</div>
													</div>
												</div>
											</div>
											<!--end:: Widgets/Support Stats-->
										</div>
									</div>
								</div>
							</div>

							<div class="m-portlet" id="m_portlet">
								<div class="m-portlet__head">
									<div class="m-portlet__head-caption">
										<div class="m-portlet__head-title">
											<span class="m-portlet__head-icon">
												<i class=" fa flaticon-calendar "></i>
											</span>
											<h3 class="m-portlet__head-text">
												Planner
											</h3>
										</div>
									</div>
									<div class="m-portlet__head-tools">
										<ul class="m-portlet__nav">
											<li class="m-portlet__nav-item">
												<a href="#" class="btn btn-accent m-btn m-btn--custom m-btn--icon m-btn--pill m-btn--air">
													<span>
														<i class="la la-plus"></i>
														<span>
															Add Event
														</span>
													</span>
												</a>
											</li>
										</ul>
									</div>
								</div>
								<div class="row m-portlet__body">
								<div class="col-xl-8">
									<div id="m_calendar"></div>
								</div>
								<div class="col-xl-4">
									<!--begin:: Widgets/Audit Log-->
									<div class="m-portlet m-portlet--full-height ">
										<div class="m-portlet__head">
											<div class="m-portlet__head-caption">
												<div class="m-portlet__head-title">
													<h3 class="m-portlet__head-text">
														Activities Log
													</h3>
												</div>
											</div>
											<div class="m-portlet__head-tools">
												<ul class="nav nav-pills nav-pills--brand m-nav-pills--align-right m-nav-pills--btn-pill m-nav-pills--btn-sm" role="tablist">
													<li class="nav-item m-tabs__item">
														<a class="nav-link m-tabs__link active" data-toggle="tab" href="#m_widget4_tab1_content" role="tab">
															Last
														</a>
													</li>
													<li class="nav-item m-tabs__item">
														<a class="nav-link m-tabs__link" data-toggle="tab" href="#m_widget4_tab2_content" role="tab">
															Week
														</a>
													</li>
												</ul>
											</div>
										</div>
										<div class="m-portlet__body">
											<div class="tab-content">
												<div class="tab-pane active" id="m_widget4_tab1_content">
													<div class="m-scrollable" data-scrollable="true" data-max-height="520" style="height: 520px; overflow: hidden;">
														<div class="m-list-timeline m-list-timeline--skin-light">
															<div class="m-list-timeline__items">
																<div class="m-list-timeline__item">
																	<span class="m-list-timeline__badge m-list-timeline__badge--success"></span>
																	<span class="m-list-timeline__text">
																		Boxes held in customs broker<br/ >
																		<a href="#" class="m-link" style="font-size: 11px; ">
																			1611 R GOVINDARAJU-MOBE-KITTS RET
																		</a>
																	</span>
																	<span class="m-list-timeline__time">
																		Just now
																	</span>
																</div>
																<div class="m-list-timeline__item">
																	<span class="m-list-timeline__badge m-list-timeline__badge--info"></span>
																	<span class="m-list-timeline__text">
																		Boxes delivered on venue<br/ >
																		<a href="#" class="m-link" style="font-size: 11px; ">
																			1612 A SOARES-PHE-CUN
																		</a>
																	</span>
																	<span class="m-list-timeline__time">
																		14 mins
																	</span>
																</div>
																<div class="m-list-timeline__item">
																	<span class="m-list-timeline__badge m-list-timeline__badge--danger"></span>
																	<span class="m-list-timeline__text">
																		New shiping invoice received<br/ >
																		<a href="#" class="m-link" style="font-size: 11px; ">
																			1612 R GOVINDARAJU-MOBE-MAL
																		</a>
																	</span>
																	<span class="m-list-timeline__time">
																		20 mins
																	</span>
																</div>
																<div class="m-list-timeline__item">
																	<span class="m-list-timeline__badge m-list-timeline__badge--accent"></span>
																	<span class="m-list-timeline__text">
																		Logos uploaded<br/ >
																		<a href="#" class="m-link" style="font-size: 11px; ">
																			1700 A MELANDO-WILEY-XXX
																		</a>
																	</span>
																	<span class="m-list-timeline__time">
																		1 hr
																	</span>
																</div>
																<div class="m-list-timeline__item">
																	<span class="m-list-timeline__badge m-list-timeline__badge--warning"></span>
																	<span class="m-list-timeline__text">
																		Customs broker delivered boxes<br/ >
																		<a href="#" class="m-link" style="font-size: 11px; ">
																			1700 B BISHOP-CULTIVATE-CBS NAC
																		</a>
																	</span>
																	<span class="m-list-timeline__time">
																		2 hrs
																	</span>
																</div>
																<div class="m-list-timeline__item">
																	<span class="m-list-timeline__badge m-list-timeline__badge--brand"></span>
																	<span class="m-list-timeline__text">
																		Waiting for the customer's commands<br/ >
																		<a href="#" class="m-link" style="font-size: 11px; ">
																			1700 B BISHOP-CULTIVATE-DOM
																		</a>
																	</span>
																	<span class="m-list-timeline__time">
																		3 hrs
																	</span>
																</div>
																<div class="m-list-timeline__item">
																	<span class="m-list-timeline__badge m-list-timeline__badge--info"></span>
																	<span class="m-list-timeline__text">
																		Logistics assigned transporter<br/ >
																		<a href="#" class="m-link" style="font-size: 11px; ">
																			1700 B BISHOP-CULTIVATE-SAF
																		</a>
																	</span>
																	<span class="m-list-timeline__time">
																		5 hrs
																	</span>
																</div>
																<div class="m-list-timeline__item">
																	<span class="m-list-timeline__badge m-list-timeline__badge--success"></span>
																	<span href="" class="m-list-timeline__text">
																		New task received<br/ >
																		<a href="#" class="m-link" style="font-size: 11px; ">
																			1700 J CRISCI-GLOBAL-POR
																		</a>
																	</span>
																	<span class="m-list-timeline__time">
																		7 hrs
																	</span>
																</div>
																<div class="m-list-timeline__item">
																	<span class="m-list-timeline__badge m-list-timeline__badge--success"></span>
																	<span class="m-list-timeline__text">
																		Logistics starting project<br/ >
																		<a href="#" class="m-link" style="font-size: 11px; ">
																			1700 N MYRIE-CONCORD-CUN
																		</a>
																	</span>
																	<span class="m-list-timeline__time">
																		Just now
																	</span>
																</div>
																<div class="m-list-timeline__item">
																	<span class="m-list-timeline__badge m-list-timeline__badge--info"></span>
																	<span class="m-list-timeline__text">
																		System shutdown<br/ >
																		<a href="#" class="m-link" style="font-size: 11px; ">
																			1701 A MCKEE-MARITZ-CBS
																		</a>
																	</span>
																	<span class="m-list-timeline__time">
																		14 mins
																	</span>
																</div>
																<div class="m-list-timeline__item">
																	<span class="m-list-timeline__badge m-list-timeline__badge--danger"></span>
																	<span class="m-list-timeline__text">
																		New invoice received<br/ >
																		<a href="#" class="m-link" style="font-size: 11px; ">
																			1701 A MCKEE-MARITZ-CBS RET
																		</a>
																	</span>
																	<span class="m-list-timeline__time">
																		20 mins
																	</span>
																</div>
																<div class="m-list-timeline__item">
																	<span class="m-list-timeline__badge m-list-timeline__badge--accent"></span>
																	<span class="m-list-timeline__text">
																		DB overloaded 80%<br/ >
																		<a href="#" class="m-link" style="font-size: 11px; ">
																			1701 A MILUNSKY-HUMANGENETICS-CBS
																		</a>
																	</span>
																	<span class="m-list-timeline__time">
																		1 hr
																	</span>
																</div>
																<div class="m-list-timeline__item">
																	<span class="m-list-timeline__badge m-list-timeline__badge--danger"></span>
																	<span class="m-list-timeline__text">
																		New invoice received<br/ >
																		<a href="#" class="m-link" style="font-size: 11px; ">
																			1701 B SHAW-RJ-CBS
																		</a>
																	</span>
																	<span class="m-list-timeline__time">
																		20 mins
																	</span>
																</div>
																<div class="m-list-timeline__item">
																	<span class="m-list-timeline__badge m-list-timeline__badge--accent"></span>
																	<span class="m-list-timeline__text">
																		DB overloaded 80%<br/ >
																		<a href="#" class="m-link" style="font-size: 11px; ">
																			1701 B BISHOP-CULTIVATE 002-ARU RET
																		</a>
																	</span>
																	<span class="m-list-timeline__time">
																		1 hr
																	</span>
																</div>
																<div class="m-list-timeline__item">
																	<span class="m-list-timeline__badge m-list-timeline__badge--warning"></span>
																	<span class="m-list-timeline__text">
																		System error<br/ >
																		<a href="#" class="m-link" style="font-size: 11px; ">
																			1701 B BISHOP-CULTIVATE 003-CBS
																		</a>
																	</span>
																	<span class="m-list-timeline__time">
																		2 hrs
																	</span>
																</div>
																<div class="m-list-timeline__item">
																	<span class="m-list-timeline__badge m-list-timeline__badge--brand"></span>
																	<span class="m-list-timeline__text">
																		Production server down<br/ >
																		<a href="#" class="m-link" style="font-size: 11px; ">
																			1701 B BISHOP-CULTIVATE 003-CBS RET
																		</a>
																	</span>
																	<span class="m-list-timeline__time">
																		3 hrs
																	</span>
																</div>
																<div class="m-list-timeline__item">
																	<span class="m-list-timeline__badge m-list-timeline__badge--info"></span>
																	<span class="m-list-timeline__text">
																		Production server up<br/ >
																		<a href="#" class="m-link" style="font-size: 11px; ">
																			1701 B BISHOP-CULTIVATE 007-CBS
																		</a>
																	</span>
																	<span class="m-list-timeline__time">
																		5 hrs
																	</span>
																</div>
																<div class="m-list-timeline__item">
																	<span class="m-list-timeline__badge m-list-timeline__badge--success"></span>
																	<span href="" class="m-list-timeline__text">
																		New order received<br/ >
																		<a href="#" class="m-link" style="font-size: 11px; ">
																			1701 B BISHOP-CULTIVATE 008-NEV
																		</a>
																	</span>
																	<span class="m-list-timeline__time">
																		7 hrs
																	</span>
																</div>
															</div>
														</div>
													</div>
												</div>
												<div class="tab-pane" id="m_widget4_tab2_content"></div>
												<div class="tab-pane" id="m_widget4_tab3_content"></div>
											</div>
										</div>
									</div>
									<!--end:: Widgets/Audit Log-->
								</div>
								</div>

							</div>

							<div class="m-portlet">
								<div class="m-portlet__body  m-portlet__body--no-padding">
									<div class="row m-row--col-separator-xl">
										<div class="col-xl-2">
											<div class="panel" style="padding-left: 15px; ">
												<div class="m-form m--margin-top-30 m--margin-bottom-30">
													<div class="align-items-center">
														<div class="form-group m-form__group row align-items-center">
															<div class="m-input-icon m-input-icon--left">
																<input type="text" class="form-control m-input m-input--solid" placeholder="Search..." id="generalSearch">
																<span class="m-input-icon__icon m-input-icon__icon--left">
																	<span>
																		<i class="la la-search"></i>
																	</span>
																</span>
															</div>
														</div>
													</div>
												</div>
												<div class="panel-heading">
													<h5 class="panel-title">Filters</h5>
												</div>
												<hr>
												<div class="panel-body">
            <form name="params" method="post" action="#" >
                    <ul class="list-unstyled profile-nav">
                        <li>
                            <div class="reportrange">
                                <label style="padding-top:10px;">Date range</label>
                                <div class='input-group pull-right' id='m_reportrange'>
                                    <input type='text' class="form-control m-input" id="reportrange" name="reportrange" placeholder="Select date range" style="font-size: 9px;" value="{{xrfec}}" />
                                    <br><span class="input-group-addon"><i class="la la-calendar-check-o"></i></span>
                                </div>
                            </div><br><br>
                        </li>
                        <li>
                            <label>Month</label>
                            <select id="month" name="month" class="bs-select form-control" onchange="document.params.submit();">
                                <option value="0" {% if xmonth == '0' %}selected{% endif %}>--Select month--</option>
                                <option value="1" {% if xmonth == '1' %}selected{% endif %}>January</option>
                                <option value="2" {% if xmonth == '2' %}selected{% endif %}>Febrary</option>
                                <option value="3" {% if xmonth == '3' %}selected{% endif %}>March</option>
                                <option value="4" {% if xmonth == '4' %}selected{% endif %}>April</option>
                                <option value="5" {% if xmonth == '5' %}selected{% endif %}>May</option>
                                <option value="6" {% if xmonth == '6' %}selected{% endif %}>June</option>
                                <option value="7" {% if xmonth == '7' %}selected{% endif %}>July</option>
                                <option value="8" {% if xmonth == '8' %}selected{% endif %}>August</option>
                                <option value="9" {% if xmonth == '9' %}selected{% endif %}>September</option>
                                <option value="10" {% if xmonth == '10' %}selected{% endif %}>October</option>
                                <option value="11" {% if xmonth == '11' %}selected{% endif %}>November</option>
                                <option value="12" {% if xmonth == '12' %}selected{% endif %}>December</option>
                            </select>
                        </li>
                        <li>
                            <label style="padding-top:10px;">Week</label>
                            <select id="week" name="week" class="bs-select form-control" onchange="document.params.submit();">

                                <option value="0">--Select week--</option>
                            {% for i in 1..52 %}
                                <option value="{{ i }}" {% if xweek == i|trans %}selected{% endif %}>{{ i }}</option>
                            {% endfor %}

                            </select>
                        </li>
                        <li>
                            <div class="form-group">
                                <label style="padding-top:10px;">Warehouse date </label>
                                <input id="m_warewhousedate" name="m_warewhousedate" class="form-control" size="16" type="text" value="{{ xwarehousedate }}" onchange="document.params.submit();" />
                            </div>
                        </li>
                        <li>
                            <div class="form-group">
                                <label>Documents date </label>
                                <input id="m_documentsdate" name="m_documentsdate" class="form-control" size="16" type="text" value="{{ xdocumentsdate }}" onchange="document.params.submit();" />
                            </div>
                        </li>
                        <li>
                            <label>Type event</label>
                            <select id="typeevent" name="typeevent" class="bs-select form-control" onchange="document.params.submit();">
                                <option value="0" {% if xtev == '0' %}selected{% endif %}>--All--</option>
                                <option value="1" {% if xtev == '1' %}selected{% endif %}>Corporation</option>
                                <option value="2" {% if xtev == '2' %}selected{% endif %}>Commercial</option>
                                <option value="3" {% if xtev == '3' %}selected{% endif %}>Multi-participant</option>
                                <option value="5" {% if xtev == '5' %}selected{% endif %}>Personal</option>
                                <option value="4" {% if xtev == '4' %}selected{% endif %}>Retrieval</option>
                                <option value="6" {% if xtev == '6' %}selected{% endif %}>Wedding</option>
                            </select>
                        </li>
                        <li>
                            <label style="padding-top:10px;">Status project</label>
                            <select id="statusproject" name="statusproject" class="bs-select form-control" onchange="document.params.submit();">
                                <option value="0" {% if xstatusproject == '0' %}selected{% endif %}>--All--</option>
                                <option value="1" {% if xstatusproject == '1' %}selected{% endif %}>Canceled</option>
                                <option value="2" {% if xstatusproject == '2' %}selected{% endif %}>Consult</option>
                                <option value="3" {% if xstatusproject == '3' %}selected{% endif %}>Finished</option>
                                <option value="4" {% if xstatusproject == '4' %}selected{% endif %}>Prospection</option>
                                <option value="5" {% if xstatusproject == '5' %}selected{% endif %}>Running</option>
                            </select>
                        </li>
                        <li>
                            <div class="form-group">
                                <label style="padding-top:10px;">Venue</label>
                                <input id="venue" name="venue" type="text" class="form-control" placeholder="" value="{{ xvenue }}">
                            </div>
                        </li>
                        <li>
                            <div class="form-group">
                                <label>Place</label>
                                <input id="place" name="place" type="text" class="form-control" placeholder="" value="{{ xplace }}">
                            </div>
                        </li>
                        <li>
                            <div class="form-group">
                                <label>By representative</label>
                                <input id="internalrep" name="internalrep" type="text" class="form-control" placeholder="" value="{{ xintrep }}">
                            </div>
                        </li>
                    </ul>
                <input type="submit" id="submitbtn" style="display: none;"  />
            </form>
												</div>
											</div>
										</div>

										<div class="col-xl-10">
											<div class="m-portlet--mobile">
												<div class="m-portlet__body">
					<!--begin: Datatable -->
        <table class="m-datatable" id="html_table" width="100%">
            <thead>
                <tr>
                    <th></th>
                    <th> Project </th>
                    <th> Delivery <br /> Date</th>
                    <th> Week </th>
                    <th> Client </th>
                    <th> Update </th>
                    <th> Status </th>
                </tr>
            </thead>
            <tbody>
            {% for project in projects %}
                <tr>
                    <td><span class="m-badge m-badge--success"> 1 </span></td>
                    <td>{{project.code}}</td>
                    <td>{{project.deliverydate|date('m/d/Y')}}</td>
                    <td>{{project.week}}</td>
                    <td>{{project.client}}</td>
                    <td>{{project.updt}}</td>
                    <td>
                        <div class="progress-info">
                            <div class="progress m-progress--sm">
                                <div class="progress-bar m--bg-primary" role="progressbar" style="width: 5%;" aria-valuenow="5" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                            <div class="status">
                                <div class="status-title"> On route to storage </div>
                                <div class="status-number"> 5% </div>
                            </div>
                        </div>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
												</div>
											</div>
										</div>
									</div>

								</div>
							</div>
