{% extends 'base.html.twig' %}

{% block body %}
    <h1>Team</h1>

    <table>
        <tbody>
            <tr>
                <th>Name</th>
                <td>{{ team.name }}</td>
            </tr>
            <tr>
                <th>Leaderiduser</th>
                <td>{{ team.leaderiduser }}</td>
            </tr>
            <tr>
                <th>Leadersince</th>
                <td>{% if team.leadersince %}{{ team.leadersince|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Leaderuntil</th>
                <td>{% if team.leaderuntil %}{{ team.leaderuntil|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Idteam</th>
                <td>{{ team.idteam }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('team_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('team_edit', { 'idteam': team.idteam }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
